.formHomepage {
    position: absolute;
    width: 435px;
    height: 364px;
    left: 790px;
    top: 165px;
    background: rgba(49, 49, 49, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
}

@media screen and (max-width: 768px) {
    .formHomepage {
        position: absolute;
        width: 85%;
        height: 40%;
        left: 8%;
        top: 27%;
        background: rgba(49, 49, 49, 0.5);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(8px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 40px;
    }
}